<div class="ui segment">
  <h3 class="ui header">Controls</h3>
</div>
<div class="ui segment">
  <p>All examples below use the same date object.</p>
  <p>Current value is: {{date}}</p>
  <p><button class="ui button" {{action reset}}>Set to now</button></p>
</div>
