.ui.main.container {
  padding: 32px 0;
  position: relative;
}

.ui.left.dividing.rail {
  padding-top: 60px;
}

.ui.vertical.menu {
  text-align: right;
}

.ui.secondary.segment > .hljs {
  background-color: transparent;
}
