<div class="ui main container">
  <h1 class="ui header">Ember SemanticUI Calendar examples</h1>

  <div>
    <div class="ui left dividing rail">
      {{#ui-sticky}}
        <ul class="ui fluid vertical text menu">
          <a class="item" href="#example-date-and-time">Date & Time</a>
          <a class="item" href="#example-date-only">Date only</a>
          <a class="item" href="#example-time-only">Time only</a>
          <a class="item" href="#example-range">Range</a>
        </ul>
      {{/ui-sticky}}
    </div>
    {{outlet}}
  </div>
</div>
