<div class="ui fixed red inverted huge menu">
  <div class="header item">
    <img src="ember-logo.svg" class="ui image" alt="Ember">
    Semantic UI Calendar
  </div>

  {{#link-to "index" class="item"}}Basic Examples{{/link-to}}
  {{#link-to "moment-examples" class="item"}}Using Moment.js{{/link-to}}
  {{#ui-dropdown class="item"}}
    <div>Customization</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#link-to "range-examples" class="item"}}Range{{/link-to}}
      {{#link-to "clear-button-examples" class="item"}}Clear button{{/link-to}}
    </div>
  {{/ui-dropdown}}

  <div class="right menu">
    <a class="item" href="https://quantosobra.github.io/ember-semantic-ui-calendar/docs/">
      <i class="book icon"></i> API Documentation
    </a>
    <a class="icon item" href="https://github.com/quantosobra/ember-semantic-ui-calendar/">
      <i class="github icon"></i>
    </a>
  </div>
</div>

<div class="ui main container">
  {{outlet}}
</div>
