<div class="ui segments" id="example-custom-triggers">
  <div class="ui segment">
    <h3 class="ui header">Custom triggers</h3>
  </div>
  <div class="ui segment">
    {{! BEGIN-SNIPPET example-custom-triggers }}
    <div class="ui form">
      <div class="fields">
        <div class="four wide field">
          <div class="ui input">
            <input type="text" value={{date}}>
          </div>
        </div>
        <div class="four wide field">
          {{#ui-calendar type="date" onChange=(action "onSelectedDate") }}
            <button class="ui button">
              Select date
            </button>
          {{/ui-calendar}}
        </div>
      </div>
    </div>
    {{! END-SNIPPET example-custom-triggers }}
  </div>
  <div class="ui secondary segment">
    {{code-snippet name="example-custom-triggers.hbs"}}
  </div>
</div>